:root {
  --font-size: 20px;
}

h1 {
  border-bottom: solid black 3px;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../src/images/shopping.png");
}

#shopping-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 255, 255, 70%);
  border: 2px black solid;
  border-radius: 8px;
  margin: 50px;
}

#shopping-ordered-list {
  padding: 0px;
  list-style-type: none;
}

#shopping-items-wrapper {
  margin: 10px;
  border-radius: 8px;
  border: 3px grey solid;
  background-color: rgba(240, 255, 255, 70%);
}

#shopping-ordered-list {
  padding-bottom: 20px;
  border-bottom: 3px grey solid;
}

#shopping-item-wrapper {
  height: 15px;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-to-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.list-item-wrapper {
  display: flex;
  justify-content: flex-start;
}

#quantity-wrapper {
  display: flex;
  flex-direction: column;
}

#unit-wrapper {
  display: flex;
  flex-direction: column;
}

#quantity-unit-wrapper {
  display: flex;
}

.list-heading {
  font-size: var(--font-size);
  font-weight: bold;
  padding-bottom: 15px;
}

.list-quantity {
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  width: 70px;
}

.list-item,
.list-label,
.list-item,
.list-quantity {
  font-size: var(--font-size);
}

label {
  font-size: var(--font-size);
  font-weight: bold;
  display: block;
}

.list-checkbox {
  width: 25px;
  height: 25px;
}

.list-checkbox:hover {
  border: 3px rgb(101, 132, 173) solid;
  transform: scale(1.1);
}

.input1 {
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.input1:hover,
.input2:hover,
button:hover {
  border: 3px rgb(101, 132, 173) solid;
  transform: scale(1.05);
}

#shopping-list-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6px;
  margin-right: 6px;
}

#shopping-list-delete:hover .delete {
  color: red;
}

#quantity-wrapper {
  padding-right: 13px;
}

.delete {
  color: rgba(240, 255, 255);
  font-weight: bold;
  font-size: 22px;
}

.delete:hover {
  transform: scale(1.2);
}

.strike-through {
  text-decoration: line-through;
}

label.list-label {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 50px;
  font-size: var(--font-size);
  font-weight: bold;
}

.input2 {
  width: 90px;
  height: 50px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}
